* {
    margin: 0;
    padding: 0;
}
.head_font {
    font-size: 50pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.head {
    padding: 0 0 0 400px;
}
header {
    background-color: aqua;
}
a {
    text-decoration: none;
}