* {
    margin: 0;
    padding: 0;
}

.head_font {
    font-size: 50pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.head {
    margin: 0 0 0 600px;
}

header {
    background-color: aqua;
}

a {
    text-decoration: none;
}

.container {
    width: 540px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.tr1 {
    width: 100px;
}

.profile_table {
    margin: 0 auto;
}

.main_profile table, th, td {
    border: 1px solid;
}

.main_profile th {
    width: 200px;
}

.main_profile td {
    width: 300px;
}

.tr1 {
    height: 150px;
}

.tr2 {
    height: 70px;
}