* {
    margin: 0;
    padding: 0;
}

.head_font {
    font-size: 50pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.head {
    padding: 0 0 0 400px;
}

header {
    background-color: aqua;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

.all {
    text-align: center;
}
.container {
    width: 480px;
    margin: 0 auto;
}
.textarea {
    width: 480px;
    margin-bottom: 10px;
}
.cancle {
    width: 235px;
    height: 40px;
    float: left;
}
.check {
    width: 235px;
    height: 40px;
    float: right;
}